<footer>
    <div [@animateFooter]>
        <ul class="footer-left-bar d-none d-md-block">
            <li>
                <a href="https://github.com/singh5929" target='_blank'>
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/aman-singh-725322204/" target='_blank'>
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
        </ul>
        <div class="footer-right-bar d-none d-md-block">
            <a href="singhaman5246@gmail.com" target='_blank'>singhaman5246@gmail.com </a>
        </div>
    </div>

    <div class="footer-credits text-center" >
        <a href="https://github.com/gaurav148/portfolio-v1" target="_blank" rel="nofollow noopener noreferrer">
            <div>Built by Aman Singh</div>
        </a>
    </div>

</footer>